.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.addres-social-wrapper {
  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.footer__addres-wrapper {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.social {
  @media screen and (max-width: 481px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1199px) {
    margin-left: 70px;
  }
}
.btn-submit-telegram {
  margin-left: 10px;
  vertical-align: middle;
}

.form-footer {
  @media screen and (min-width: 1199px) {
    margin-left: auto;
  }
}

.form-footer__social {
  @media screen and (max-width: 481px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.input-label {
  @media screen and (max-width: 481px) {
    width: 100%;
  }
  @media screen and (min-width: 767px) {
    margin-top: -20px;
  }
}

.footer {
  background-color: var(--background-color-hero-roof);
  padding: 60px 0;
}

.footer__contacts {
  @media screen and (max-width: 481px) {
    margin-top: 28px;
  }

  @media screen and (min-width: 767px) {
    margin-top: 28px;
  }

  @media screen and (min-width: 1199px) {
    margin-top: 20px;
  }
}

.footer__address {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.contacts {
  color: var(--list-color);
  transition: color 250ms var(--color-transition);
  text-decoration: none;

  .contact-list &:hover,
  .contact-list &:focus {
    color: var(--title-text-color);
  }
}

.contact-list {
  margin-top: 9px;
}

.contact-list {
  color: var(--title-text-color);
}

.item-footer {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and (max-width: 1199px) {
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 767px) {
    align-items: center;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1199px) {
    margin-bottom: 20px;
  }
}

.social-footer {
  display: flex;
  gap: 10px;
  flex-basis: calc((100% - 30px) / 4);
}

.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-social-footer);
  transition: background-color 250ms var(--color-transition);

  &:hover,
  &:focus {
    background-color: var(--title-text-color);
  }
}

.socials-footer-icon {
  fill: var(--white-color);
  transition: fill 250ms var(--color-transition);

  .socials-footer-link:hover &,
  .socials-footer-link:focus & {
    fill: var(--white-color);
  }
}
