.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background: var(--background-hero);
  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;

  // mobile screen
  background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)),
    url(../images/heromob/imgmob@1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--gradient-hero),
        var(--gradient-hero)
      ),
      url(../images/heromob/imgmob@2x.jpg);
  }

  // tablet screen
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        var(--gradient-hero),
        var(--gradient-hero)
      ),
      url(../images/herotab/imgherotab@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--gradient-hero),
          var(--gradient-hero)
        ),
        url(../images/herotab/imgherotab@2x.jpg);
    }
  }
  // desctop screen
  @media screen and (min-width: 769px) {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(
        var(--gradient-hero),
        var(--gradient-hero)
      ),
      url(../images/herodesctop/Imgherodesc@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--gradient-hero),
          var(--gradient-hero)
        ),
        url(../images/herodesctop/Imgherodesc@2x.jpg);
    }
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  max-width: 360px;

  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto 30px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    font-size: 44px;
    line-height: 1.35;
    width: 696px;
  }
}
